.banner{
    margin-top: 110px;
    .banner__item{
        height: 100%;
        width: 100%;
        position: relative;
        .banner__container{
            position: absolute;
            top: 50px;
            left: 50px;
            h3{
                @include Text($color-white,3.42857rem,unset);
                margin-bottom: $mg-5;
            }
            .banner__description{
                display: inline-block;
                @include Text($color-white,$fs-0,unset);
                border: 1px solid #1f1f1f;
                background-color: $color-gray-3;
                padding: $pd-1;
            }
        }
        .banner__detail{
            position: absolute;
            bottom: 20px;
            left: 50px;
            width: 45%;
            @include Text($color-white,$fs-2,unset);
        }
    }
}
@media screen and (max-width:767.98px) {
    .banner{
        .banner__item{
            background-color: $color-white;
            .banner__container{
                position: static;
                padding: $pd-3;
                h3{
                    @include Text($color-black,2rem,unset);
                }
            }
            .banner__detail{
                color: $color-black;
                position: static;
                padding: $pd-3;
                width: initial;
            }
        }
    }
}