.categories{
    // background-color: $color-black;
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 99;
    transform: translateX(210px);
    .categories__content{
        width: 250px;
        .categories__list{
            padding: 0;
        }
        .categories__items{
            background-color: $color-black-1;
            margin: $mg-0 - 3 0;
            transition: all .5s;
            &:hover{
                transform: translateX(-210px);
            }
            .icon{
                @include Text($color-white,$fs-5,900);
                padding: $pd-1;
            }
            .text{
                @include Text($color-white,$fs-3,unset);
            }
            .link{
                @include Text($color-white,$fs-5,900);
                i{
                    padding: 0 $pd-1;
                }
            }
        }
    }
}
.categories__content-mobi{
    display: none;
}
@media screen and (max-width:767.98px) {
    .categories{
        display: none;
    }
    .categories__content-mobi{
        display: block;
        background-color: $color-black;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 101;
        .categories__list{
            display: flex;
            padding: 0;
            margin: 0;
            position: relative;
            .categories__items{
                flex: 1;
                margin:0 $pd-0 - 3;
                span{
                    background-color: $color-black-1;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: $pd-1 0;
                    @include Text($color-white,$fs-1,unset);
                    i{
                        font-size: $fs-5;
                    }
                }
                .link{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 60px;
                    background-color: $color-black-1;
                    text-align: center;
                    overflow: hidden;
                    margin-bottom: $pd-0 - 2;
                    width: calc(33% - 3px);
                    max-height: 0;
                    transition: all .5s;
                    a{
                        @include Text($color-white,$fs-5,unset);
                        margin: $mg-1 0;
                    }
                }
                
            }
            .categories__items-share.actived{
                .link{
                    max-height: 404px;
                }
            }
        }
    }
}