.new-and-video{
    background-color:$color-black;
    .new-and-video__content{
        padding: $pd-7 + 20px 0;
        .new-and-video__tab{
            justify-content: center;
            align-items: center;
            border: none;
            .nav-link{
                border: none;
                background: none;
                @include Text($color-white,unset,unset);
                &:hover{
                    color: $color-blue-0;
                }
            }
            .nav-link.active{
                border-bottom: 1px solid $color-blue-0;
                color: $color-blue-0!important;
            }
        }
    }
    .new-and-video__item{
        position: relative;
        margin-top: $mg-1;
        .new-and-video__list{
            padding: 0;
            // display: flex;
        }
        .items{
            position: relative;
            float: left;
            width: 33.334%;
            &:hover{
                .overlay{
                    height: 50%;
                    .description{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
            .overlay{
                background: rgba(0,0,0,.35);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                @include Text($color-white-1,unset,unset);
                padding: $pd-0 $pd-1;
                height: 50px;
                transition: all .5s;
                .headline{
                    font-size: $fs-4;
                    font-weight: $fw-bold-0;
                }
                .description{
                    font-size: $fs-2;
                    opacity: 0;
                    transform: translateY(30px);
                    transition: all .5s;
                }
            }
        }
        .w-50-items{
            width: 66.666%;
        }
        .btn-show-more{
            clear: both;
            position: static;
        }
        .show-more__btn{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: $mg-3;
            padding: $pd-0 $pd-1;
            background: linear-gradient($color-gray-1,$color-gray-2);
            border: 1px solid $color-gray-1;
            @include Text($color-gray-4,unset,unset);
            transition: all .3s;
            &:hover{
                color: $color-white-1
            }
        }
    }
}
@media screen and (max-width:1279.98px) {
    .new-and-video{
        .new-and-video__item{
            .new-and-video__list{
            }
            .w-50-items{
                width: 50%;
            }
            .items{
                width: 50%;
            }
        }
    }
}
@media screen and (max-width:767.98px) {
    .new-and-video{
        .new-and-video__item{
            .new-and-video__list{
                .items{
                    width: 100%;
                    .overlay{
                        background-color: $color-black;
                    }
                }
                .w-50-items{
                    width: 100%;
                }
                .overlay{
                    height: auto;
                    .description{
                        display: none;
                    }
                }
            }
        }
    }
}
