// Color
$color-black: #000;
$color-black-1: #1f1f1f;
$color-white: #fff;
$color-white-1:#f0f0f0;
$color-gray-1: #202020;
$color-gray-2: #303030;
$color-gray-3:#333;
$color-gray-4:#999;
$color-blue-0: #00adef;


// Font size
$fs-0: 16px; //default
$fs-1: 12px;
$fs-2: 14px;
$fs-3: 18px;
$fs-4: 20px;
$fs-5: 24px;
// Font weight
$fw-normal: normal;
$fw-bold: bold;
$fw-bold-0: 400;
$fw-bold-1: 500;
$fw-bold-2: 600;
$fw-bold-3: 700;
// Margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-5: 30px;
$mg-6: 35px;
$mg-7: 40px;
//Padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 30px;
$pd-6: 35px;
$pd-7: 40px;